/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
:root {
  --body-padding: 50px;
  --grid-maxWidth: 60rem;
  --grid-gutter: 2rem;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* Browse Facets */

.container.reverse {
  box-sizing: border-box;
  max-width: var(--grid-maxWidth);
  margin: 0 auto;
  width: 96%;
  padding: 0 calc(var(--grid-gutter) / 2);
  display: flex;
  flex-direction: column;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-left: calc(var(--grid-gutter) / -2);
    margin-right: calc(var(--grid-gutter) / -2);
    flex-wrap: initial;
}

.col {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.col,
[class*=" col-"],
[class^='col-'] {
    margin: 0 calc(var(--grid-gutter) / 2) calc(var(--grid-gutter) / 2);
}

a.col {
    max-width: 40vw;
}

a.col img {
    object-fit: contain;
    object-position: center;
    max-width: 100%;
}

p img {
    width: 100%;
}

.sidebar {
    max-width: 30em;
    min-width: 200px;
    flex-basis: 200px;
    position: relative;
}

.sidebar ul {
    margin: 0;
    padding: 0;
}

.sidebar li {
    padding: calc(var(--grid-gutter) / 10) 0;
    margin: 0;
    display: block;
    overflow: hidden;
    text-transform: capitalize;
    text-overflow: ellipsis;
    background: var(--color-primary);
    color: var(--color-lightGrey);
    border-left: var(--color-primary) solid thick;
}

a {
    text-decoration: none;
    font-weight: 400;
    color: var(--color-link);
    transition: color 0.5s ease;
}

a:hover,
a:focus {
    color: var(--color-link-active);
    text-decoration: none !important;
    cursor: pointer;
}

facet {
    display: block;
    position: relative;
    cursor: pointer;
    transition: background-color .2s;
    border-left: var(--color-secondary) solid thin;
    padding-left: calc(var(--grid-gutter)/4);
    font-size: smaller;
}

facet:hover {
    background-color: var(--color-secondary);
}

facet.clicked {
    background-color: var(--color-lightGrey);
    color: var(--font-color);
}

facet::after {
    content: "(" attr(data-count)")";
    position: absolute;
    right: 0;
    border-radius: 15%;
    background-color: rgba(255, 255, 255, .5);
}

.sidebar progress,
.sidebar input {
    box-sizing: border-box;
    width: 100%;
    transition: width, progress-value .5s ease-out;
}

.sidebar input {
    line-height: 1.6;
    margin-bottom: var(--grid-gutter);
}

progress::after {
    content: attr(value)" of " attr(max);
    font-size: .6em;
    color: #666666;
    position: relative;
    text-align: right;
    display: block;
    bottom: 1em;
}

.reverse {
    /* flex-flow: row-reverse; */
}

.grow {
    flex-grow: 3;
}

.wrap {
    flex-wrap: wrap;
    display: flex;
}

.thumbnail {
    object-fit: cover;
    object-position: top center;
    padding: calc(var(--grid-gutter) / 2);
    max-height: 10em;
    min-width: 5em;
}

.record {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    padding: calc(var(--grid-gutter) / 2);
    box-shadow: -1px -1px 3px rgba(0, 0, 0, .4);
    margin: calc(var(--grid-gutter) / 4);
}

.record[class*='hide-'],
facet[class*='hide-'] {
    display: none !important;
}

dt,
dd {
    border-top: 1px solid var(--bg-secondary-color);
    padding-right: 0;
    line-height: 1.42857143;
    margin: 0 auto;
    color: var(--font-color);
    display: inline-block;
    padding-top: 6px;
    padding-bottom: 4px;
    box-sizing: border-box;
    vertical-align: top;
}

dt {
    font-weight: 700;
    width: 15%;
}

dd {
    width: 85%;
    word-break: break-word;
    padding-left: 40px;
}

dd p {
    padding: 0;
    margin: 0;
}

.record h4 {
    margin: 0 auto;
    font-size: 1.3em;
    padding: 0.5em 0em;
}

#Records {
    overflow: auto;
    height: calc(100vh - 100px);
}

/** Imported CSS */
body {
    font-size: 15px;
    font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.6;
}

nav {
    z-index: 100 !important;
    opacity: 1;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    overflow: visible;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: 400 !important;
    padding: 2% 0 1.5% 0;
}

h1,
h2,
h3,
h4 {
    color: var(--font-color);
}

h3[id] {
    padding: 2% 0 1.5% 3%;
    color: #002a5c;
    margin: 0 0 20px;
    border-bottom: 1px solid var(--color-secondary);
    font-size: 2em;
}

h4 {
    font-size: 1.25em;
    padding: 2% 0 1.5% 3%;
}

details {
    position: relative;
}

summary {
    position: absolute;
    left: 0;
    top: calc(-2em - 20px - 2%);
    color: var(--color-link);
    font-size: 2em;
    transition: all 500ms;
    cursor: pointer;
    transform-origin: 10% 50%;
}

summary:hover::not(details[open]>summary:first-of-type) {
    transform: rotate(90deg);
}

table {
    margin: 10px 0;
    padding: 0;
    width: 100%;
}

table,thead,tbody,tr,th,td {
    border-color: var(--color-lightGrey);
}

table,td,th {
    vertical-align: middle;
}

caption,th,td {
    text-align: left;
}

thead tr {
    font-weight: 700;
    background-color: var(--color-lightGrey);
}

td,th {
    border-bottom: 0;
    margin: 0;
    padding: 5px 7px;
}

tbody tr {
    border-bottom: 1px solid var(--color-lightGrey);
}

tr.odd {
    background: var(--bg-color);
}

tr.info,tr.even,tr:nth-child(2n+2) {
    background-color: var(--bg-secondary-color);
}

td.active {
    background-color: var(--color-lightGrey);
}

kbd {
    background-color: var(--bg-secondary-color);
    border-radius: 3px;
    border: 1px solid var(--color-lightGrey);
    box-shadow: 0 1px 1px rgb(0 0 0 / 20%), 0 2px 0 0 rgb(255 255 255 / 70%) inset;
    color: var(--font-color);
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
    font-family: monospace;
}

/** end Imported CSS */
@media screen and (max-width: 599px) {
    .container {
        width: 100%;
    }

    .col,
    [class*="col-"],
    [class^='col-'] {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
        flex: 0 1 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 1399px) {
    .record {
        max-width: 100%;
    }
}

@media (min-width: 981px) {

    nav a {
        text-decoration: none;
    }
}
