@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

:root {
  --ud-blue: #171B48;
  --bs-dark-rgb: 23, 27, 72; /* Bootstrap override */
  --ud-secondary: #3F526C;
  --bs-secondary-rgb: 63, 82, 108; /* Bootstrap override */
  --ud-light: #DAD2B1;
  --bs-breadcrumb-item-active-color: #DAD2B1; /* Bootstrap override */
  --bs-light-rgb: 218, 210, 177; /* Bootstrap override */
  --ud-accent: #EAB726;
  --ud-active: #D28A28;
  --bs-link-color: #795016;
  --bs-link-hover-color: #281A06;
  --bs-body-bg: #171B48;
}

.bg-bright{
  background-color: var(--ud-accent);
}

.hidden {
  display: none !important;
}

dl.placein{
  border: 2px dotted gray;
  padding: 5px;
}
dl.placein dd{
  border: 2px solid black;
  margin: 2px 0px;
  padding: 2px;
  height: 2rem;
  background-color: rgb(1,1,1,0.25);
}
dl.placein dd:before {
  font-style:  italic;
  color: darkgrey;
  content: "Lorem ipsum...";
}
img.thumbnail{
  max-height: 12rem;
}

dla-carousel .carousel-item img {
  object-fit: cover;
  object-position:top;
  height: clamp(12em,70vh,20em);
  overflow: hidden;
}

dla-carousel .carousel-item:before {
  content: "";
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
  display: block;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
}

dla-carousel {
  display: block;
}
.carousel-caption {
  text-shadow: 0 0 1.5px #FFF;
  padding: 0;
  bottom: 0;
}

.scrip {
  font-family: 'Homemade Apple', cursive;
  text-shadow: 0 0 1.5px var(--ud-secondary);
}

a {
  color: var(--action);
}
.breadcrumb-item a {
  color: var(--ud-accent);
}

.breadcrumb-item.active a {
  color: var(--ud-active);
}
