<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Record Detail — Dunbar Library & Archive</title>
  <meta property="og:title" content="Dunbar Library and Archive">
  <meta property="og:type" content="website">
  <!-- <meta property="og:url" content=""> -->
  <meta property="og:image" content="/images/dla.png">

  <link rel="manifest" href="/site.webmanifest">
  <link rel="apple-touch-icon" href="/images/dla.png">
  <!-- Place favicon.ico in the root directory -->
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/poems.css">

  <meta name="theme-color" content="#fafafa">
      <script src="https://www.saxonica.com/saxon-js/documentation/SaxonJS/SaxonJS2.rt.js" defer></script>
  <script src="/javascripts/deer/deer.js" type="module"></script>
  <script src="/javascripts/plugins.js" defer></script>
  <script src="/javascripts/main.js" defer></script>
</head>

<body>
  <dla-header></dla-header>
  <nav aria-label="breadcrumb" class="bg-secondary">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item" aria-current="page">
        <a href="/collections">Collections</a>
      </li>
      <li class="breadcrumb-item" aria-current="page">
        <deer-collection-label id="collectionCrumb">Collection</deer-collection-label>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <deer-label id="recordCrumb">Record</deer-label>
      </li>
    </ol>
  </nav>
  <div class="container-lg bg-white">
    <dla-record id="recordDetail">
    </dla-record>
  </div>
  <dla-footer></dla-footer>
  <script>
    const RERUM = "https://store.rerum.io/v1"

    window.addEventListener('load', () => {
      let id = location.href.split('/').pop()

      if (!id.startsWith("http")) {
        id = RERUM + "/id/" + id
      }
      [recordCrumb,collectionCrumb,recordDetail].forEach(i=>i?.setAttribute('deer-id', id))
    })
  </script>
</body>

</html>
