<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Collection — Dunbar Library & Archive</title>
  <meta property="og:title" content="Dunbar Library and Archive">
  <meta property="og:type" content="website">
  <!-- <meta property="og:url" content=""> -->
  <meta property="og:image" content="/images/dla.png">

  <link rel="manifest" href="/site.webmanifest">
  <link rel="apple-touch-icon" href="/images/dla.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="/stylesheets/style.css">

  <meta name="theme-color" content="#fafafa">
  <script src="/javascripts/deer.js" type="module"></script>
  <script src="/javascripts/plugins.js" defer></script>
  <script src="/javascripts/main.js" defer></script>
</head>

<body>
  <header class="small">
    <h1>
      Dunbar Library and Archive
    </h1>
    <img class="hero"
      src="https://cdm16007.contentdm.oclc.org/iiif/2/p267401coll32:13628/15,600,1879,916/full/0/default.jpg"></div>
  </header>
  <nav>
    <a href="/" class="">Home</a>
    <a href="/collections" class="active">Collections</a>
    <a href="/browse" class="">Browse</a>
    <a href="/about" class="">About</a>
  </nav>
  <div class="container content">
    <deer-collection deer-lazy="true">
      loading collection...
    </deer-collection>
  </div>
  <footer>

  </footer>
  <script>
    const RERUM = "http://store.rerum.io/v1"

    window.addEventListener('load', () => {
      let id = location.href.split('/').pop()

      if (!id.startsWith("http")) {
        id = RERUM + "/id/" + id
      }
      document.getElementsByTagName('deer-collection')[0]?.setAttribute('deer-id', id)
    })
  </script>
</body>

</html>
